{% extends "base.html" %}
{% block title %} Estoque {% endblock %}
{% block content %}
<div class="flex header-container">
    <h1 class="title">Alterar - Ordem de Serviço</h1>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for msg in messages %}
    <div role="alert">
      <h5 class="h5 mb-0 font-weight-normal">{{ msg }}</h5>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

    <form method="POST" action="/edit/Ordem_S/{{ row['id'] }}">

        <div class="form-group">
            <label>Detalhes:</label>
            <input id='detalhes' name='detalhes' type='text' placeholder="Digite os Detalhes da O.S." size="80" class="form-control" value ='{{row.detalhes}}'>
        </div>

        <div class="form-group">
            <label>Preço das Peças:</label>
            <input id='valorPecas' name='valorPecas' type='number' step="0.01" min="0" placeholder="Digite o Valor das Peças" class="form-control" value ='{{row.valorPecas}}'>
        </div>

        <div class="form-group">
            <label>Taxa de Serviço:</label>
            <input id='valorServico' name='valorServico' type='number' step="0.01" min="0" placeholder="Digite o Preço" size="80" class="form-control" value ='{{row.valorServico}}'>
        </div>

        <div class="form-group">
            <label>Status da OS:</label>
            <select name="fase" id="fase">
                <option value=1>1 - Solicitada</option>
                <option value=2>2 - Agendamento</option>
                <option value=3>3 - Agendada</option>
                <option value=4>4 - Executada</option>
            </select>
        </div>

        <div class="form-group">
            <label>Status do Pagamento:</label>
            <select name="statusPagamento" id="statusPagamento">
                <option value="1">1 - Não paga</option>
                <option value="2">2 - Paga 1ª Parcela</option>
                <option value="3">3 - Paga 2ª Parcela</option>
            </select>
        </div>

        <div class="form-group">
            <div style="width: 100%; text-align: center">
                <button id="submit" type="submit" class="btn novo-item" style='width: 200px'>Salvar</button>
            </div>
        </div> 

        <input id='date_ins' name='date_ins' type='hidden' value='{{ row.data_abastecimento}}' size="80"/>  
    </form>
       

    <script>
        $('#quantidade').focusout(function() {
            let today = new Date().toLocaleDateString();
            $('#date_att').val(today);
            $('#submit').focus();
        });
    </script>
{% endblock %}