{% extends "base.html" %}
{% block title %} Ordens de Serviço {% endblock %}
{% block navitem %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filtro
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Quantidade</a>
      <div class="dropdown-divider"></div>
    </div>
  </li>
{% endblock %}
{% block content %}
<div class="flex">
  <h1 class="title">Ordens de Serviço</h1>
  <button type="button" class="btn novo-item" onclick="addfunction()">Novo item</button>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for msg in messages %}
    <div role="alert">
      <h5 class="h5 mb-0 font-weight-normal">{{ msg }}</h5>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<section class="itens-ordens">
  <div class="ordens-novas">
    <h3>Novas</h3>
    
    {% for row in query_result.novas%}
      <div class="card" style="width: 18rem;"  id={{row.id}}>
        <div class="card-body">
          <h5 class="card-title">{{row.detalhes}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{row.valorPecas}}</h6>
          <p class="card-text">Peças: {{row.valorPecas}}</p>
          <p class="card-text">Serviço: {{row.valorServico}}</p>
          <p class="card-text">Pagamento: {{row.statusPagamento}}</p>
          <a href="#" class="card-link" onclick='editfunction("{{row.id}}")'>Editar</a>
          <a href="#" class="card-link" onclick='deletefunction("{{row.id}}")'>Remover</a>
        </div>
      </div>
      {% endfor %}
  </div>

  <div class="ordens-agendadas">
    <h3>Agendadas</h3>
    {% for item in query_result.agendadas %}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{item.detalhes}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{item.valorPecas}}</h6>
          <p class="card-text">Peças: {{item.valorPecas}}</p>
          <p class="card-text">Serviço: {{item.valorServico}}</p>
          <p class="card-text">Pagamento: {{item.statusPagamento}}</p>
          <a href="#" class="card-link" onclick='editfunction("{{item.id}}")'>Editar</a>
          <a href="#" class="card-link" onclick='deletefunction("{{item.id}}")'>Remover</a>
        </div>
      </div>
      {% endfor %}
  </div>

  <div class="ordens-executadas">
    <h3>Executadas</h3>
    {% for row in query_result['executadas'] %}
      <div class="card" style="width: 18rem;"  id={{row.id}}>
        <div class="card-body">
          <h5 class="card-title">{{row.detalhes}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{row.valorPecas}}</h6>
          <p class="card-text">Peças: {{row.valorPecas}}</p>
          <p class="card-text">Serviço: {{row.valorServico}}</p>
          <p class="card-text">Pagamento: {{row.statusPagamento}}</p>
          <a href="#" class="card-link" onclick='editfunction("{{row.id}}")'>Editar</a>
          <a href="#" class="card-link" onclick='deletefunction("{{row.id}}")'>Remover</a>
        </div>
      </div>
      {% endfor %}
  </div>


</section>

</div>
<script type=text/javascript>
    function editfunction(id) {
        window.location.href = '/edit/Ordem_S/'+id;
    }

    function addfunction() {
        console.log('entry');
        window.location.href = '/add/Ordem_S';
    }

    function deletefunction(id){
        if (confirm('Deseja realmente excluir esse registro?')) {
            console.log('Thing was saved to the database.');
            $.ajax({
            url: '/delete/Ordem_S/'+id,
            method: 'DELETE',
            data: {
                id:id
            },
            success: function(data) {
                console.log('DELETED')
                $('#'+id).remove()
            } 
        })
        } 
        else {
        console.log('Thing was not saved to the database.');
        }
    }
</script>
{% endblock %}